/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/storage/pail/*
/storage/debugbar/

.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
.phpunit.cache

.DS_Store
Thumbs.db
*.log

# IDEs and Editors
/.fleet
/.idea
/.nova
/.vscode
/.zed
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Laragon specific
/laragon/
 Homestead.json
 Homestead.yaml
/database/*.sqlite
/database/*.sqlite-journal

/guidelines
