@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Figtree', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    /* Dashboard Kasir Color Palette */
    --color-kasir-navy: #313647;
    --color-kasir-teal: #435663;
    --color-kasir-sage: #A3B087;
    --color-kasir-cream: #FFF8D4;
}
